.table-cell{
    -fx-background-color:rgb(18,4,51);
    -fx-text-fill:white;
    -fx-font-size:18;
}

.table-view:focused{
    -fx-background-color:transparent;
}

.table-view .column-header .label{
  -fx-text-fill: #120433;
  -fx-background-color:white;
  -fx-font-size:16;
}
